@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.secao2{
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-top: 70px;
    font-family: "Lexend Deca", sans-serif;
    margin-right: 90px;
}

.number{
    color: white;
    font-size: 25px;
}

.textNumber{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 13px;
}

